<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AYv-erqnlzObTOLBBtDv7MfPQhszhiNt_JbVzDDkQD9-OPCx1TRvWCpEgWHpyGVCLfN13J-_zAw1uDkl&currency=USD"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{grand_total}}'
                        }
                    }]
                });
            },  

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    $.ajax({
                        url:'/paypal/',
                        method:"GET",
                        //dataType:'json',
                        success:function(data){
                        if(data=="true"){
                        window.location.replace('/paypal_confirm/')
                        }
                    }
                })
            });
        }


        }).render('#paypal-button-container');
    </script>
</body>
</html>