{% extends 'user/base.html' %}
 {% block content %}
{% load static %}
<section class="product-details padding-bottom mt--240 mt-lg--440">
    <div class="container">
        <div class="product-details-slider-top-wrapper">
            <div class="product-details-slider owl-theme owl-carousel" id="sync1">
                <div class="slide-top-item">    
                    <div class="slide-inner">
                        <img src="{{bidproduct.imageurl1}}" alt="product">
                    </div>
                </div>

                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="assets/images/product/product4.png" alt="product">
                    </div>
                </div>
                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="assets/images/product/product5.png" alt="product">
                    </div>
                </div>
                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="assets/images/product/product6.png" alt="product">
                    </div>
                </div>
                
            </div>
        </div>
        
        <h3>PRODUCT NAME:{{bidproduct.p_name}}</h3>
        <div class="product-sidebar-area">
            <div class="product-single-sidebar mb-3">
                <h6 class="title">YOU ARE THE WINNER</h6>
                <div class="row">
                    <div class="col-md-8">
                <div class="side-counter-area">
                    <div class="side-counter-item">
                        <div class="thumb">
                            <img src="{% static 'user/assets/images/product/icon2.png' %}" alt="product">
                        </div>
                        <div class="content">
                            <h3 class="-title"><span class="">{{winner.buyer.user.username}}</span></h3>
                            <h3><p>{{winner.Bid_Price}}</p></h3>
                        </div>
                    </div>
                    
                </div>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'checkout' pk=winner.id %}"><button class="custom-button">PROCEED TO PAYMENT</button></a>
                </div>
                </div>

            </div>
        </div> 
    </div>
</section>
{% endblock %}
